# Storage
src/Storage/bin
src/Storage/obj
src/Storage/.idea
src/Storage/*.DotSettings.user

# StorageExample
src/StorageExample/bin
src/StorageExample/obj
src/StorageExample/.idea
src/StorageExample/*.DotSettings.user

# vscode
.vscode

# idea
.idea

# .ionide
.ionide
.fake

# MacOS
.DS_Store

*.DotSettings.user