# Storage
src/Storage/bin
src/Storage/obj
src/Storage/.idea
src/Storage/*.DotSettings.user

# StorageExample
src/StorageExample/bin
src/StorageExample/obj
src/StorageExample/.idea
src/StorageExample/*.DotSettings.user

# StorageTest
src/StorageTest/bin
src/StorageTest/obj
src/StorageTest/.idea
src/StorageTest/*.DotSettings.user

# vscode
.vscode

# idea
.idea

# .ionide
.ionide
.fake

# MacOS
.DS_Store

# docs
.fsdocs

*.DotSettings.user